#container {
	position: relative;
	margin: auto;
	height: 100%;
	line-height: 0 !important;
	color: #CF0042;
}
img {
	position: relative;
}
#modal {
	width: 600px;
	color: white;
	background-color: black;
	position: fixed;
	-webkit-box-shadow: 0 0 0px 15px rgba(7, 7, 7, 0.85);
	box-shadow: 0 0 0px 15px rgba(7, 7, 7, 0.85);
	padding: 34px;
	z-index: 3;
	font-size: 0.8em;
	font-family: sans-serif;
}
#modal_image {
	width: 300px;
	border: solid 3px #333;
}
#modal_close {			
	color: #333;
	position: absolute;
	right: 22px;
	top: 22px;
	font-size: 2em;
}
#modal_close:hover:before {
	content: "\f192";
	color: red;
}
#overview {
	max-height: 210px;
	overflow: auto;
}
h1{
	font-size: 1.2em;
	margin-top: 15px;
}
input[type="button"] {
	background-color: yellow;
	padding: 5px 10px;
	font-weight: 700;
	border: 2px solid black;
	margin-top: 20px;
	-webkit-box-shadow: 0 0 0px 2px yellow;
	box-shadow: 0 0 0px 2px yellow;
	border-radius: 0 !important;
}
input[type="button"]:hover {
	-webkit-box-shadow: 0 0 0px 2px rgb(255, 0, 215);
	box-shadow: 0 0 0px 2px rgb(255, 0, 215);
	border-radius: 0 !important;
}
.grid_image {
	border-radius: 0 !important;
}
.glow1 {
	-webkit-box-shadow: 0 0 0px 15px rgba(255, 0, 0, 0.85) !important;
	box-shadow: 0 0 0px 15px rgba(255, 0, 0, 0.85) !important;
	border-radius: 0 !important;
	z-index: 2;
}
.glow2 {
	-webkit-box-shadow: 0 0 0px 15px rgba(255, 0, 225, 0.85) !important;
	box-shadow: 0 0 0px 15px rgba(255, 0, 225, 0.85) !important;
	border-radius: 0 !important;
	z-index: 2;
}
.glow3 {
	-webkit-box-shadow: 0 0 0px 15px rgba(0, 255, 255, 0.85) !important;
	box-shadow: 0 0 0px 15px rgba(0, 255, 255, 0.85) !important;
	border-radius: 0 !important;
	z-index: 2;
}
.glow4 {
	-webkit-box-shadow: 0 0 0px 15px rgba(40, 255, 0, 0.85) !important;
	box-shadow: 0 0 0px 15px rgba(40, 255, 0, 0.85) !important;
	border-radius: 0 !important;
	z-index: 2;
}
.glow5 {
	-webkit-box-shadow: 0 0 0px 15px rgba(255, 245, 0, 0.85) !important;
	box-shadow: 0 0 0px 15px rgba(255, 245, 0, 0.85) !important;
	border-radius: 0 !important;
	z-index: 2;
}
.glow6 {
	-webkit-box-shadow: 0 0 0px 15px rgba(255, 120, 0, 0.85) !important;
	box-shadow: 0 0 0px 15px rgba(255, 120, 0, 0.85) !important;
	border-radius: 0 !important;
	z-index: 2;
}
.glow7 {
	-webkit-box-shadow: 0 0 0px 15px rgba(255, 255, 255, 0.85) !important;
	box-shadow: 0 0 0px 15px rgba(255, 255, 255, 0.85) !important;
	border-radius: 0 !important;
	z-index: 2;
}
#spinner {
	width: 60px;
	color: white;
	background-color: black;
	position: fixed;
	-webkit-box-shadow: 0 0 0px 15px rgba(7, 7, 7, 0.85);
	box-shadow: 0 0 0px 15px rgba(7, 7, 7, 0.85);
	z-index: 3;
	height: 60px;
	border-radius: 30px;
}
#floatingCirclesG{
	position:relative;
	width:60px;
	height:60px;
	-moz-transform:scale(0.6);
	-webkit-transform:scale(0.6);
	-ms-transform:scale(0.6);
	-o-transform:scale(0.6);
	transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:#FFFFFF;
	height:11px;
	width:11px;
	-moz-border-radius:5px;
	-moz-animation-name:f_fadeG;
	-moz-animation-duration:0.48s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-webkit-border-radius:5px;
	-webkit-animation-name:f_fadeG;
	-webkit-animation-duration:0.48s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-ms-border-radius:5px;
	-ms-animation-name:f_fadeG;
	-ms-animation-duration:0.48s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-o-border-radius:5px;
	-o-animation-name:f_fadeG;
	-o-animation-duration:0.48s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	border-radius:5px;
	animation-name:f_fadeG;
	animation-duration:0.48s;
	animation-iteration-count:infinite;
	animation-direction:linear;
}

#frotateG_01{
	left:0;
	top:25px;
	-moz-animation-delay:0.18s;
	-webkit-animation-delay:0.18s;
	-ms-animation-delay:0.18s;
	-o-animation-delay:0.18s;
	animation-delay:0.18s;
}

#frotateG_02{
	left:7px;
	top:7px;
	-moz-animation-delay:0.24s;
	-webkit-animation-delay:0.24s;
	-ms-animation-delay:0.24s;
	-o-animation-delay:0.24s;
	animation-delay:0.24s;
}

#frotateG_03{
	left:25px;
	top:0;
	-moz-animation-delay:0.3s;
	-webkit-animation-delay:0.3s;
	-ms-animation-delay:0.3s;
	-o-animation-delay:0.3s;
	animation-delay:0.3s;
}

#frotateG_04{
	right:7px;
	top:7px;
	-moz-animation-delay:0.36s;
	-webkit-animation-delay:0.36s;
	-ms-animation-delay:0.36s;
	-o-animation-delay:0.36s;
	animation-delay:0.36s;
}

#frotateG_05{
	right:0;
	top:25px;
	-moz-animation-delay:0.42s;
	-webkit-animation-delay:0.42s;
	-ms-animation-delay:0.42s;
	-o-animation-delay:0.42s;
	animation-delay:0.42s;
}

#frotateG_06{
	right:7px;
	bottom:7px;
	-moz-animation-delay:0.48s;
	-webkit-animation-delay:0.48s;
	-ms-animation-delay:0.48s;
	-o-animation-delay:0.48s;
	animation-delay:0.48s;
}

#frotateG_07{
	left:25px;
	bottom:0;
	-moz-animation-delay:0.54s;
	-webkit-animation-delay:0.54s;
	-ms-animation-delay:0.54s;
	-o-animation-delay:0.54s;
	animation-delay:0.54s;
}

#frotateG_08{
	left:7px;
	bottom:7px;
	-moz-animation-delay:0.6s;
	-webkit-animation-delay:0.6s;
	-ms-animation-delay:0.6s;
	-o-animation-delay:0.6s;
	animation-delay:0.6s;
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:#00B4CF
	}

	100%{
		background-color:#FFFFFF
	}

}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:#00B4CF
	}

	100%{
		background-color:#FFFFFF
	}

}

@-ms-keyframes f_fadeG{
	0%{
		background-color:#00B4CF
	}

	100%{
		background-color:#FFFFFF
	}

}

@-o-keyframes f_fadeG{
	0%{
		background-color:#00B4CF
	}

	100%{
		background-color:#FFFFFF
	}
}

@keyframes f_fadeG{
	0%{
		background-color:#00B4CF
	}

	100%{
		background-color:#FFFFFF
	}
}

#loading_content {
	text-align: center;
	font-weight: 700;
	line-height: 2;
}